.centered {
    text-align: center;
  }
  
  
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    text-align: center;

  }
  
  .bannerIMG {
    display: block;
    max-width: 20%;
    max-height: 20%;
  }
  
  .cards {
    display: flex;
  }
